html, body
{
	font-family: 'Roboto', sans-serif;
	width: 100%;
	display: table;
  background-color: white;
}

section .heading
{
	text-align: center;
	margin-top: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
}

section .heading h2
{
	color: #d82c2e;
	text-align: center;
	text-decoration: underline;
	letter-spacing: 6px;
	text-transform: uppercase;

}

/*-------------------------------MENU NAVIGATION------------------------------*/
nav
{
		position: fixed;
		width: 100%;
}

.nav-link
{
	 color: #d82c2e;
	 background-color: #333;
	 font-weight: bold;
	 text-transform: uppercase;
	 font-size: 15px;
	 letter-spacing: 6px;
}

.nav-link:hover
{
	border-top: 5px solid;
	color: white;
 	padding: 15px 30px 20px 30px;
}

/*-----------------------------------HEADER-----------------------------------*/
#moi
{
	color: black;
	padding-top: 40px;
}


/* #img
{
		max-width: 100%;
    height: auto;
		text-align: center;
}

.img-bordure
{
	border-radius: 50%
} */

/*-------------------------------SECTION EDUCATION----------------------------*/
#education
{
	background:#333;
	text-align: center;
}


#education h4
{
	color: white;
}

#education h5
{
	color: grey;
}

#education h6
{
	color: white;
}

.fa-university
{
	color: #d82c2e;
	font-size: 30px;
}

/*-------------------------------SECTION COMPETENCE---------------------------*/
#competences
{
	text-align: center;
}

#listeCompetenceInformatique
{
	color: #333;
	font-size: 30px;
}

.fa-laptop-code
{
	color: #d82c2e;
	font-size: 30px;
}

.fa-database
{
	color: #d82c2e;
	font-size: 30px;
}

/*-------------------------------SECTION EXPERIENCE---------------------------*/
#experience
{
	background:#333;
	text-align: center;
	color: white;
}

#experience h5
{
	color: grey
}

.fa-briefcase
{
	color: #d82c2e;
	font-size: 30px;
}

.fa-school
{
	color: #d82c2e;
	font-size: 30px;
}

/*------------------------------------FOOTER----------------------------------*/
footer
{
	background-color: #333;
	color: white;
	text-align: center;
	height: 40px;
	display: table-row;
}

.fa-chevron-up
{
	color: #d82c2e;
	font-size : 20px;
}
